<!-- <section class="footer">
   <div class="container footer-container">

      <span>منصة تواصل بين المرضى و المتبرعين بالدم عبر </span>
      <span style="font-size: 1.4em; color: #fff;"> SMS </span>

   </div>
</section> -->
<!-- Footer -->

<footer class="white-section" id="footer">
   <div class="container-fluid">
      <i class="social-icon fab fa-facebook-f"></i>
      <i class="social-icon fab fa-twitter"></i>
      <i class="social-icon fab fa-instagram"></i>
      <i class="social-icon fas fa-envelope"></i>
      <p>© Copyright 2018 TinDog</p>
   </div>
</footer>
<%- include("captchajs") -%>
</div>
</body>

</html>