<footer class="footer mt-auto pb-2  ">
   <div class="container ">
      <h4>تبرع &copy; 2019</h4>
      <p>للتواصل بين المرضى و المتبرعين بالدم عبر
         <span style="font-size: 1.4em; color: darkred;">
            SMS
            <!--  <i class="fas fa-sms fa-flip-horizontal"></i> -->
         </span>
      </p>
   </div>
</footer>
</div>
</body>

</html>