<html dir="rtl" lang="ar">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="">
   <meta name="author" content="Blood donation,donor,patient">
   <meta name="generator" content="BloodDonation">
   <title>منصة تبرع</title>
   <link href='/imgs/blood-drop.png' rel='icon' type='image/x-icon' />

   <!-- Bootstrap,google fonts core CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css?family=Cairo:400,900&amp;subset=arabic" rel="stylesheet">

   <!-- Font awesome -->
   <link href="css/all.css" rel="stylesheet">
   <!--link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous"-->

   <!-- Custom styles for this template -->
   <link href="css/main.css" rel="stylesheet">

   <!--    <script type="text/javascript" src="jquery-3.3.1.min.js"></script> -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   <script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>

   <script type="text/javascript" src="js/main.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8.8.1/dist/sweetalert2.all.min.js"></script>
   <!-- scripts frameworks -->
   <!-- Custom scripts for this template -->

</head>

<body>
   <!--  <div class="mycontainer">
 -->
   <div class="header">
      <div class="container">

         <nav class="navbar navbar-expand-md navbar-light pr-0 ">
            <a class="navbar-brand  mr-0 thelogo" href="/"> <strong>تبرع </strong> </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
               <ul class="navbar-nav">
                  <% if ( _connected===true ){ %>
                  <% if ( _userType==="d" ){  %>

                  <li class="nav-item"> <a class="nav-link <% if ( _active_page==='donorstate' ){ %>active<% } %>" href="/donorstate">المتبرع</a></li>
                  <% } else if ( _userType==="p" ){     %>
                  <li class="nav-item"><a class="nav-link <% if ( _active_page==='addrequest' ){ %>active<% } %>" href="/addrequest">المريض</a></li>
                  <% } %>
                  <li class="nav-item"><a class="nav-link <% if ( _active_page==='userprofile' ){ %>active<% } %>" href="/userprofile">حساب المستخدم </a></li>
                  <li class="nav-item"><a class="nav-link <% if ( _active_page==='contactus' ){ %>active<% } %>" href="/contactus">اتصل بنا</a></li>
                  <li class="nav-item"><a class="nav-link <% if ( _active_page==='logout' ){ %>active<% } %>" href="/logout">خروج </a></li>
                  <% } else {    %>
                  <li class="nav-item"><a class="nav-link <% if ( _active_page==='/' ){ %>active<% } %>" href="/"> الدخول</a></li>
                  <li class="nav-item"><a class="nav-link <% if ( _active_page==='signin' ){ %>active<% } %>" href="/signin">التسجيل</a></li>
                  <li class="nav-item"><a class="nav-link <% if ( _active_page==='getcode' ){ %>active<% } %>" href="/getcode">استرجاع الكود</a></li>
                  <li class="nav-item"><a class="nav-link <% if ( _active_page==='contactus' ){ %>active<% } %>" href="/contactus">اتصل بنا</a></li>
                  <% } %>

               </ul>
            </div>
         </nav>
      </div>
   </div>
   <div class="container  pr-lg-5  pl-lg-5 ">
      <div class="row  align-items-center pt-md-0 pt-5   pr-lg-5  pl-lg-5 justify-content-center">