<% if ( locals._msgType   && locals._msg ){ console.log("_code : "+_code); %>
<% if ( _msgType==="success" ){ %>
<script>
   Swal.fire({
      title: 'ممتاز',
      text: ' <%= _msg %>',
      type: 'success',
      confirmButtonColor: '#aed9a2',
      footer: "<%=_code%>"
   });
</script>
<% } %>

<% if ( _msgType==="error" || _msgType==="offline" ){ %>
<script>
   Swal.fire({
      type: 'error',
      title: 'خطـــأ',
      text: '<%=_msg%>!',
      confirmButtonColor: 'red'
      /* footer: '<a href>Why do I have this issue?</a>' */
   });
   console.log('<%=_msgType%>');
</script>
<% } %>
<% _code="";_msgType="0";_msg="";console.log("_code : "+_code+"_msgType : "+_msgType+"_msg : "+_msg);} %>