/*
 * Globals
 */
html,
body {
  height: 100%;
  font-family: 'Cairo', sans-serif;
  color:#590202;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;  
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .3);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .3);
}

.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}

/* Links */
a {
  color: #590202;

}

a:focus,
a:hover {
  text-decoration: none;
  color: #590202;
  text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}

/* Custom default button */
.btn-default {
  margin-top:1.6rem; 
  color: #fff;
  text-shadow: none;
  background-color:#590202;
  border-radius:10px;
  font-weight:normal;

}
.btn-danger {
  margin-top:1.6rem; 
  color: #fff;
  text-shadow: none;
  background-color:#590202;
  border-radius:10px;
  font-weight:normal;

}
.cbt{
  width:100%;
}
.main-header{
  background-color: #5902021a;
  max-width: 380px;
  width: 100%;
  padding: 20px auto;
  margin: 20px auto;
  color:darkred;
  border-radius: 15px;
}
.btn-bt{
  padding-left:3px;
  padding-right:auto;
  margin:0;
}
.btn-danger:hover
 {
  color: #fff;
  transition:  .15s; 
}

.btn-default:hover {
  color: darkred;
  background-color: #fff;
  transition:  .15s; 
  border-color: darkred;
 
}

/*
  * Base structure
  */
.cover-container {
  max-width: 42em;
}

/*
  * ***************    Header
  */
  .nav-masthead{
    margin-bottom: 25px;
  }

.nav-masthead .nav-link {
  margin-left: 1.1rem;
  padding: .25rem 0;
  color: darkred;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: darkred;
}

.nav-masthead .active {
  color: darkred;
  border-bottom-color: darkred;
}

/*
  * ***************   main
  */
.main-title {
  font-weight: bold;
}




.form-sign {
  width: 100%;
  max-width: 380px;
  padding: 10px;
  margin: auto;
  color:darkred;
  border-radius: 15px;
  background-color: #5902021a;
  /* background: url(/images/bg.jpg);  
  /* Center and scale the image nicely * /
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.form-sign .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 2px 10px ;
  font-size: 16px;
  color: darkred;
}

.form-sign .form-control:focus {
  z-index: 2;
}
label {
  font-size: 18px;
  vertical-align: middle;
}


/*
  * ***************    Footer
  */


.container {
  width: auto;
  max-width: 680px;
  padding: auto 15px;
  font-weight: bold;
}



/******* My code **************/



@media (min-width: 48em) {


}

@media (min-width: 768px) {}