<%- include('partials/header'); -%>
<main role="main">
    <div class="main-header">
        <h5 class="pt-3"> اضافة طلب تبرع </h5>
        <h3 class="pb-3" dir="ltr">+213-555-811-350</h3>
    </div>
    <form class="form-sign mt-3">
        <div class="mb-2 align-right">
            <h5 class="w-100">سلامتك, كيف تصف حالتك؟</h5>
            <div class="form-check form-check-inline  ">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"
                    onclick="handleClick(this);">
                <label class="form-check-label" for="inlineRadio1">&nbsp;مستقرة</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"
                    onclick="handleClick(this);">
                <label class="form-check-label" for="inlineRadio2">&nbsp;حرجة</label>
            </div>

        </div>

        <input type="tel" id="inputCodePost" class="form-control mb-2" placeholder="حدد مكان تواجدك" required
            autocomplete="off" autofocus onfocus="this.value=''">
        <input type="captcha" id="captcha" class="form-control mb-4" placeholder="5+9 =?" required autocomplete="off"
            autofocus onfocus="this.value=''" required maxlength="30">
        <button class="btn btn-md btn-default btn-block mb-3" type="submit">اضف الطلب</button>
    </form>
</main>
<%- include('partials/footer') -%>