<%-include("partials/header")-%>
<div class="container main-body pt-lg-4  pr-md-5 pl-md-5">
   <div class="row   pt-5 pb-5  pr-md-5 pl-md-5 align-items-center   justify-content-center ">

      <div class="col-md-6   pb-md-5 pt-0  pr-md-5 pl-md-5 text-right ">

         <h2 class="h1-responsive font-weight-bold">معلومات المتبرع </h2>
         <hr class="hr-light">
         <h6 class="text-right main-text"> هل انت مستعد حاليا للتبرع؟</h6>
      </div>
      <div class="col-md-6    text-right">
         <form action="/addrequest" class="form  mr-md-0 mr-auto ml-auto pt-md-3" method="POST">

            <div class="input-group mb-3 ">
               <div class="input-group-prepend  w-100">
                  <select dir="rtl" name="donorState" class="custom-select custom-select-md  md-form colorful-select dropdown-primary ">
                     <option value="S" autofocus>نعم </option>
                     <option value="D">لا</option>
                  </select>

                  <span class="input-group-text    form-icon"><i class="fas fa-heartbeat  mr-auto ml-auto"></i></span>
               </div>
            </div>
            <%- include("partials/wilaya") -%>
            <div class="input-group mb-3">
               <input type="text" dir="ltr" class="form-control  text-right" id="adress" name="adress" placeholder="حدد مكان تواجدك: المشفى,..." required autocomplete="off" onfocus="this.value=''" maxlength="30">
               <div class="input-group-prepend">
                  <span class="input-group-text    form-icon"><i class="fas fa-map-marker-alt   mr-auto ml-auto"></i></span>
               </div>
            </div>

            <%- include("partials/captcha") -%>
            <button class="btn btn-danger btn-block" type="submit">دخول</button>
         </form>
      </div>
   </div>
</div>

</div>

<%- include("partials/footer") -%>