<%- include("partials/header") -%>

<div class="row   pt-4 pb-4    pr-lg-5  pl-lg-5 align-items-center   justify-content-center ">

   <div class="col-md-6     pb-md-5 pt-0    pr-lg-5  pl-lg-5 text-right ">
      <h1 class="h1-responsive text-sm-center text-md-right font-weight-bold ">منصة تبرع</h1>
      <hr class="hr-light">
      <h6 class="  main-text  text-justify">تطبيق يهدف لمساعدة المرضى على ايجاد متبرع بالدم عبر:
         <ul class="pl-2">
            <li>ادراج طلب تبرع من طرف المريض. </li>
            <li>يرسل الموقع رسالة نصية الى المتبرعين المسجلين والمتوافقين مع فصيلة دم المريض ومنطقته الجغرافية. </li>
            <li>تحوي الرسالة رقم هاتف المريض وموقعه. </li>
            <li>تحترم الخصوصية ويستعمل اقل قدر ممكن من البيانات. </li>
            <li>يعلم المريض بعدد المتبرعين الذين تم الاتصال بهم عبر حسابه في الموقع. </li>
         </ul>
      </h6>
   </div>
   <div class="col-md-6    text-right">
      <form action="/" class="form  mr-md-0 mr-auto ml-auto pt-md-3" method="POST">

         <div class="input-group mb-3">
            <input type="text" dir="ltr" class="form-control  text-right" id="tel" name="tel" placeholder="رقم الهاتف" required autocomplete="off" onfocus="this.value=''">
            <div class="input-group-prepend">
               <span class="input-group-text    form-icon"><i class="fas fa-mobile-alt  mr-auto ml-auto"></i></span>
            </div>
         </div>

         <div class="input-group mb-3">
            <input type="password" class="form-control  text-right" id="Password" name="code" placeholder="رمز الدخول" required autocomplete="off" onfocus="this.value=''" maxlength="5">
            <div class="input-group-prepend">
               <span class="input-group-text    form-icon"><i class="fas fa-key  mr-auto ml-auto "></i></span>
            </div>
         </div>

         <%- include("partials/captcha") -%>
         <button class="btn btn-danger btn-block" type="submit">دخول</button>
      </form>
   </div>
</div>

<%- include("partials/footer") -%>