<%-include("partials/header")-%>
<section class="main">
   <div class="container main-container">
      <div class="main-title ">
         <h1>منصة تبرع</h1>
         <h3> صِلَة المرضى بالمتبرعين بالدم</h3>
      </div>
      <button class="btn btn-danger btn-block" type="submit">سجل</button>
   </div>
</section>
<%- include("partials/footer") -%>