<%-include("partials/header")-%>
<section class="main">
   <div class="container main-container">
      <div class="main-title ">
         <h1>منصة تبرع</h1>
         <h3> صِلَة المرضى بالمتبرعين بالدم</h3>
      </div>
      <form class="form  ">
         <h5 class="form-title "> سياسة الموقع </h5>
         <input type="tel" id="tel" lang="en" dir="ltr" class="form-control " placeholder="رقم الهاتف" required autocomplete="off" autofocus onfocus="this.value=''">
         <%- include("partials/captcha") -%>
         <button class="btn btn-danger btn-block" type="submit">سجل</button>
      </form>
   </div>
</section>
<%- include("partials/footer") -%>