<%-include("partials/header")-%>
<div class="col-md-6  pr-lg-5  pl-lg-5 text-right ">
   <h2 class="h1-responsive font-weight-bold ">إنشاء حساب جديد </h2>
   <hr class="hr-light">
   <p>بعد التسجيل سنتواصل معك عبر رسالة نصية تحتوي على رمز الدخول الخاص بك.</p>
</div>
<div class="col-md-6    text-right">
   <form action="/signin" class="form  mr-md-0 mr-auto ml-auto pt-md-3" method="POST">

      <div class="input-group mb-3">
         <input type="text" dir="ltr" class="form-control  text-right" id="tel" name="tel" placeholder="رقم الهاتف" aria-label="Username" aria-describedby="basic-addon1" required autocomplete="off" onfocus="this.value=''">
         <div class="input-group-prepend">
            <span class="input-group-text    form-icon"><i class="fas fa-mobile-alt  mr-auto ml-auto"></i></span>
         </div>
      </div>

      <%- include("partials/captcha") -%>
      <button class="btn btn-danger btn-block" type="submit">دخول</button>
   </form>
</div>

<%- include("partials/footer") -%>