<%-include("partials/header")-%>
<section class="main">
   <div class="container main-container">
      <div class="main-title ">
         <h5> معلومات المستخدم </h5>
         <h3> <%=_tel%> </h3>
      </div>
      <form action="/userprofile" method="POST" class="form-sign">

         <div class="  label">اسجل كــ</div>
         <div class="select"> <span class="fas fa-user   select-icon"></span>
            <select dir="rtl" name="userType" class="mdb-select  md-form colorful-select dropdown-primary">
               <option value="D" autofocus>متبرع</option>
               <option value="P">مريض</option>
            </select>
         </div>

         <!--Blue select-->
         <div class="label">زمرة الدم</div>
         <div class="select">
            <span class="fas fa-fire   select-icon"></span>
            <select dir="rtl" name="bloodType" class="mdb-select  md-form colorful-select dropdown-primary ">
               <option value="A">A+</option>
               <option value="A-">A-</option>
               <option value="B+">B+</option>
               <option value="B-">B-</option>
               <option value="AB+">AB+</option>
               <option value="AB-">AB-</option>
               <option value="O+">O+</option>
               <option value="O-">O-</option>
            </select>
         </div>
         </span>

         <!--/Blue select-->

         <%- include("partials/wilaya") -%>
         <!--       
      userType : D
      bloodType: A
      wilaya   : 01 
      -->
         <button class="btn btn-danger btn-block" type="submit">تعديل</button>

      </form>
   </div>
</section>
<%- include("partials/footer") -%>