/*
 * Globals
 */
html,
body {
   height: 100%;
   font-family: 'Cairo', sans-serif;
   color: #590202;
}

body {

   align-items: center;
   padding-top: 0px;
   padding-bottom: 0px;
   box-shadow: inset 0 0 5rem rgba(0, 0, 0, .3);
}

.align-right {
   text-align: right;
}

.align-center {
   text-align: center;
}

/* Links */
a {
   color: #590202;
}

a:focus,
a:hover {
   text-decoration: none;
   color: #590202;
   text-shadow: 0 0 .65px #333, 0 0 .65px #333;
}

/* Custom default button */
.btn-default {
   margin: 1rem auto;
   color: #fff;
   text-shadow: none;
   background-color: #590202;
   border-radius: 10px;
   font-weight: normal;
   box-shadow: 0 0 8px #252523;
   border: none;

}

.btn-default:hover {
   /*   color: darkred;   background-color: #fff;border-color: darkred;
  */
   transition: .15s;
   box-shadow: 0 0 8px #f1f1ee;
   border: none;
   color: #fff;

}

.btn-danger {
   margin-top: 1.6rem;
   color: #fff;
   text-shadow: none;
   background-color: #590202;
   border-radius: 0;
   font-weight: normal;
   border: 0;

}

.cbt {
   width: 100%;
   border-radius: 0;
}

.btn-bt {
   padding-left: 3px;
   padding-right: auto;
   margin: 0;
}

.btn-danger:hover {
   color: #fff;
   transition: .15s;
}

/*
  * Base structure
  */
.cover-container {
   max-width: 42em;
}

/*
  * ***************    Header
  */
header {
   margin-bottom: 25px;
   margin: 0 auto;
}

.nav-masthead {
   width: 380px;
}

.nav-masthead .nav-link {
   margin-left: 1.1rem;
   padding: .25rem 0;
   color: darkred;
   background-color: transparent;
   border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
   border-bottom-color: darkred;
}

.nav-masthead .active {
   color: darkred;
   border-bottom-color: darkred;
}

/*
  * ***************   main 
  */

.main-header {
   max-width: 380px;
   width: 96%;
   margin: 15px auto;
   color: darkred;
}

.main-header h1,
h2,
h3,
h4,
h5 {

   margin: 0;
   padding-top: 5px;
   padding-bottom: 5px;
   direction: ltr;

}

.main-title {
   font-weight: bold;
}

/* **************** glyph ***********************/
select {
   box-shadow: 0 0 5px #252523;
   width: 100%;
   margin-bottom: 10px;
   margin-top: 5px;
   position: relative;

}

.errspan {
   position: absolute;
   float: left;
   top: 10px;
   left: -157;
   z-index: 4;
   color: rgb(161, 122, 122);
}

.selectspan {
   position: absolute;
   float: left;
   top: 8px;
   left: 18px;
   z-index: 4;
   color: rgb(161, 122, 122);
}

/*****************************************************/

.form-sign {
   width: 100%;
   max-width: 380px;
   padding: 15px;
   margin: 0 auto;
   color: darkred;
   border-radius: 15px;
   background-color: #59020204;
   box-shadow: 0 0 8px #252523;
   border: none;
   /* background: url(/images/bg.jpg);  
  /* Center and scale the image nicely * /
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.form-sign .form-control {
   text-align: right;
   color: darkred;
   box-shadow: 0 0 5px #252523;
   border: none;
   margin-bottom: 10px;
}

.label {
   text-align: right;
   margin: 0;
}

.form-sign .form-control:focus {
   z-index: 2;
}

/*
  * ***************    Footer
  */

.container {
   width: auto;
   margin: 0;
   padding: 0;

}

footer {
   padding: 0;
   margin: 0;
}

footer p {
   padding: 0;
   margin: 0;
}

footer h4 {
   padding: 0;
   margin: 0;
}

/***************   captcha **********************/
.jCaptchaText {
   padding: 10px 10px;
   background-color: darkred;
   margin: 10px;
}

.jCaptcha {
   border: none;
   /*padding: 20px 25px 20px 20px; font-size: 15px; width: 320px; height: 60px; box-sizing: border-box; outline: none;
  border-radius: 4px 0 0 4px; vertical-align: middle; transition: all 150ms linear; box-shadow: 0 0 8px #4e4706;
*/
}

/*******   toggle button  **************/

.switch {
   position: relative;
   display: inline-block;
   width: 60px;
   height: 34px;
}

.switch input {
   opacity: 0;
   width: 0;
   height: 0;
}

.slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   -webkit-transition: .4s;
   transition: .4s;
}

.slider:before {
   position: absolute;
   content: "";
   height: 26px;
   width: 26px;
   left: 4px;
   bottom: 4px;
   background-color: white;
   -webkit-transition: .4s;
   transition: .4s;
}

input:checked+.slider {
   background-color: darkred;
}

input:focus+.slider {
   box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
   -webkit-transform: translateX(26px);
   -ms-transform: translateX(26px);
   transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
   border-radius: 34px;
}

.slider.round:before {
   border-radius: 50%;
}

/**************************************************/

@media (min-width: 48em) {}

@media (min-width: 768px) {}